/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    text-decoration: none;
    margin-top: auto;

    &:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }
}
