/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #0073ff;
    --color-bg-primary: #e2e2e2;
    --color-text: #8c8c8c;
}
