{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/v627-aew-41-technologybackground.jpg" alt="Hero" />
        </div>

        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercise
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Les Premiers
            <span>Laboratoires</span>
        </h2>

        <div class="lab_cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Capture d’écran, le 2025-11-17 à 15.11.16.png" alt="labo sem01" />
                </div>
                <div class="card__content">
                    <h3>Semaine 01 - Laboratoire Récapitulative</h3>
                    <p>
                        Le laboratoire de départ où nous avons
                        <span>réviser les notions appris dans CW2 en introduisant les nouvelles notions</span>
                    </p>
                    <p class="tag">HTML + CSS</p>

                    <a href="https://ostamand.dectim.ca/cours/cw3/sem01/" class="button_card">
                        Voir le laboratoire

                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Capture d’écran, le 2025-11-17 à 15.11.43.png" alt="labo sem01" />
                </div>
                <div class="card__content">
                    <h3>Semaine 02 - Laboratoire Du TimTools</h3>
                    <p>
                        Ce laboratoire marque le départ de
                        <span>l'utilisation du serveur de TimTools pour modfier le site en ligne</span>
                    </p>
                    <p class="tag">HTML + CSS</p>

                    <a href="https://ostamand.dectim.ca/cours/cw3/sem02/" class="button_card">
                        Voir le laboratoire

                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Capture d’écran, le 2025-11-17 à 15.12.03.png" alt="labo sem01" />
                </div>
                <div class="card__content">
                    <h3>Semaine 03 - Continuation du TimTools</h3>
                    <p>
                        Une récapitulation du TimTools
                        <span>avec les notions des grids et du display flex de réarranger</span>
                    </p>
                    <p class="tag">HTML + CSS</p>

                    <a href="https://ostamand.dectim.ca/cours/cw3/sem03/" class="button_card">
                        Voir le laboratoire

                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/Capture d’écran, le 2025-11-17 à 15.12.16.png" alt="labo sem01" />
                </div>
                <div class="card__content">
                    <h3>Semaine 04 - Laboratoire d'Icônes</h3>
                    <p>
                        Lorsque nous avons commencer à apprendre
                        <span>La bonne utilisation des icônes avec le svg et comment les extraires</span>
                    </p>
                    <p class="tag">HTML + CSS</p>

                    <a href="https://ostamand.dectim.ca/cours/cw3/sem04/" class="button_card">
                        Voir le laboratoire

                        <svg class="icon">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "_partials/_footer.html" %}
